.picture-container .csvFile input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%; }

.ReactTable .-pagination .-pageInfo {
  white-space: normal; }

div.sweet-alert {
  overflow: visible !important; }

.ReactTable .rt-table {
  overflow: visible; }
